# Credenciais do Telegram API (Obtenha em my.telegram.org)
API_ID=1234567
API_HASH=seu_api_hash_aqui

# Groq API Key
GROQ_API_KEY=gsk_sua_chave_groq_aqui

# Credenciais do Bot do Telegram (BotFather) para Alertas
BOT_TOKEN=123456789:ABCDefghIJKLmnopQRSTuvwxYZ
MEU_USER_ID=987654321

# Lista de CHAT_IDS separados por vírgula (Canais, Grupos, ou Users)
CHAT_IDS=-100123456789,-100987654321,1234567890
